body 
	background white
	font-family 'Open Sans'
		
footer
	margin-top 40px
	text-align center
#items
	text-align center
	.itemServicios
		//background #fa0
		
		display inline-block
		margin-top 50px
		width 240px
		height 400px
		.titulo 
			transition 0.3s
			height 28px
			font-size 16px
			background #2D90D0
			color white
		.imagen
			transition 0.3s
			img 
				margin-top 0px
				width 240px
		.imagen:hover
			opacity 0.6
			
	.itemServicios:hover
		cursor pointer
		
		.titulo 
			transition 0.3s
			background #4D9AC3
.articlesCentro
	width 1200px
	margin-left auto
	margin-right auto
.botonCerrar
	text-align right
.botonCerrar:hover
	cursor pointer

.modals
	text-align justify
	margin-left auto
	margin-right auto
	margin 10px
	h3
		color #2D90D0
.sangria
	margin-left 7px
	
	



